body {
  background-color: #f4f1eb;
  color: white;
  margin-top: 50px;
}

.container {
  /* border: blue 2px solid; */
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 1 */
.container1 {
  /* border: red 2px solid; */
  text-align: center;
}

.title {
  font-size: 56px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title2 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
}

.title,
.title2 {
  color: black;
}
/* 2 */
.container2 {
  /* border: pink 2px solid; */
  text-align: center;
  margin-top: 60px;
}

.weapons {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.weapons #rock:hover {
  cursor: pointer;
  background-color: aqua;
  transition: transform 0.2s ease, background-color 0.1s ease;
  transform: scale(1.1);
}

.weapons #paper:hover {
  cursor: pointer;
  background-color: rgb(98, 41, 172);
  transition: transform 0.2s ease, background-color 0.1s ease;
  transform: scale(1.1);
}
.weapons #scissor:hover {
  cursor: pointer;
  background-color: rgb(236, 215, 19);
  transition: transform 0.2s ease, background-color 0.1s ease;
  transform: scale(1.1);
}
.weapons #playAgain:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  transition: transform 0.2s ease, background-color 0.1s ease;
  transform: scale(1.1);
}
.weapons * {
  background-color: black;
  color: white;
  font-size: 60px;
  height: 100px;
  width: 219px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

.container3 {
  /* border: green 2px solid; */
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  /* border: yellow 2px solid; */
  border-radius: 20px;
  background-color: black;
  color: white;
  display: none;
  justify-content: center;
  width: 700px;
  height: 50px;
  align-items: center;
}

.score {
  /* border: pink 2px solid; */
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 20px;
  display: none;
  justify-content: center;

  align-items: center;
  margin-top: 50px;
}
.h1 {
  /* border: red 2px solid; */
  text-align: center;
  text-align: center;
  width: 190px;
  height: 70px;

  color: white;
  border-radius: 20px;
  display: none;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.h2 {
  /* border: purple 2px solid; */
  text-align: center;
  text-align: center;
  width: 220px;
  height: 90px;
  background-color: black;
  color: white;
  border-radius: 20px;
  display: none;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.weapons #playAgain {
  display: block;
  flex-basis: 80%;

  margin: 10px;
}
